---
layout: internal-default
---
<!--<section id="presentations" class="srp-presentations general-resources">
    <div class="container">
        <div class="heading-container margin bottom">
            <div class="header">
                <img src="/assets/images/header-icon.png" alt="">
                <h1>ABOUT US</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-md-10 col-md-offset-1">
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
                <div class="presentation-list-wrap">
           <p><a href="/assets/docs/SRP Overview - Jan 2017.pdf" target="_blank" class="green"><i class="fa fa-download fa-lg" style="margin-right: 10px"></i> SRP Overview</a></p>
                    <p><a href="/assets/docs/SRP FAQ.pdf" target="_blank" class="green"><i class="fa fa-download fa-lg" style="margin-right: 10px"></i> Frequently Asked Questions</a></p>
                </div>
            </div
        </div>-->
        <div class="row margin top">
            <div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
                <div id="general-resources" class="heading-container margin bottom">
                    <div class="header">
                        <img src="/assets/images/header-icon.png" alt="">
                        <h1>GENERAL RESOURCES</h1>
                    </div>
                </div>
                <p>Relevant organizational materials are available in this section to equip you with the right knowledge and tools to support the development and implementation of your organization's sustainability activities that are related to the Sustainable Rice Platform's programs.</p>
                <p><strong>Communications</strong></p>
                <p><a href="/assets/docs/SRP FAQ.pdf" target="_blank" class="green"><i class="fa fa-download fa-lg" style="margin-right: 10px"></i> SRP Frequently Asked Questions</a></p>
                <p><a href="/assets/images/SRP-Logo-Final-Pantone356.jpg" target="_blank" class="green"><i class="fa fa-download fa-lg" style="margin-right: 10px"></i> SRP Logo Pantone 356 JPG [low res]</a></p>
                <p><a href="/assets/images/SRP-Logo-Final-Pantone356.ai" target="_blank" class="green"><i class="fa fa-download fa-lg" style="margin-right: 10px"></i> SRP Logo Pantone 356 AI [hi res]</a></p>
                <p><a href="/assets/docs/SRP Overview July 2017.pdf" target="_blank" class="green"><i class="fa fa-download fa-lg" style="margin-right: 10px"></i> SRP Overview</a>
                <p><strong>Technical Implementation</strong></p>
                <p><a href="/assets/docs/171002_Checklist SRP Standard_v1.0.5.xlsx" target="_blank" class="green"><i class="fa fa-download fa-lg" style="margin-right: 10px"></i> Checklist SRP Standard</a></p>
                <p><a href="/assets/docs/170808 SRP Data Aggregation Tool_Empty_Master.xlsx" target="_blank" class="green"><i class="fa fa-download fa-lg" style="margin-right: 10px"></i> SRP Data Aggregation Tool</a></p>
                <p><a href="/assets/docs/SRP Performance Indicators v 1 0 Apr 2015.pdf" target="_blank" class="green"><i class="fa fa-download fa-lg" style="margin-right: 10px"></i> SRP Performance Indicators v 1.0</a></p>
                <p><a href="/assets/docs/SRP Standard for Sustainable Rice Cultivation v 1.0.pdf" target="_blank" class="green"><i class="fa fa-download fa-lg" style="margin-right: 10px"></i> SRP Standard for Sustainable Rice Cultivation v 1.0</a></p>
                <!--<p><a href="/assets/docs/SRP Communication and Assurance Guidelines (Pilot Phase 2015-2016).pdf" target="_blank" class=green><i class="fa fa-download fa-lg" style="margin-right: 10px"></i> SRP Communication and Assurance Guidelines (Pilot Phase 2015-2016)</a></p>
                <p><a href="/assets/docs/User Guidance SRP Data Collection tools 1 Mar 2016.pptx" target="_blank" class="green"><i class="fa fa-download fa-lg" style="margin-right: 10px"></i> SRP Data Collection Tools (User Guidance)</a></p>-->
                <!--<p><a href="/assets/docs/SRP Overview - Jan 2017.pdf" target="_blank" class="green"><i class="fa fa-download fa-lg" style="margin-right: 10px"></i> SRP Overview</a></p>-->
                <!--<p><a href="/assets/docs/SRP_Publication Policy_April 2017.pdf" target="_blank" class="green"><i class="fa fa-download fa-lg" style="margin-right: 10px"></i> SRP Publication Policy</a></p>-->
            </div>
        </div>
<section class="funding-opportunities no-padding top">
    <div class="container">
        <div class="heading-container" id="directory">
            <div class="header">
                <img src="/assets/images/header-icon.png" alt="">
                <h1>DIRECTORY</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <div class="text-container">
                    <p>Do you need to connect with a fellow member? Contact information of primary representatives are available in the directory below.</p>
                </div>
            </div>
        </div>
       <!-- <div class="row">
            <div class="col-sm-4 col-sm-offset-4">
                <div class="button-container">
                   <a href="/assets/docs/SRP Members - Official Representatives 2 March 2017.pdf" target="_blank" class="btn btn-primary btn-lg btn-block">List of representatives<i class="fa fa-download fa-lg" style="margin-left: 10px"></i></a>
                </div>
            </div>
        </div>-->
        <div class="row">
            <div class="col-md-10 col-md-offset-1" style="text-align: center;">
                <div class="members-list-wrapper margin top">
                    <div class="row">
                        <div class="col-sm-10 col-sm-offset-1">
                            <div class="panel panel-default">
                                <div class="panel-body">
                                    <table class="stripe row-border dataTable">
                                        <thead>
                                            <tr>
                                                <th>Company Name</th>
                                                <th>Primary Contact</th>
                                                <th>Email</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for member in site.data.srp_members_list_representatives %}
                                                <tr>
                                                    <td>{{ member.company_name }}</td>
                                                    <td>{{ member.primary_contact }}</td>
                                                    <td>{{ member.email }}</td>
                                                </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--</section>
<section class="srp-standard-internal no-padding top bottom">
    <div class="container">
        <div class="heading-container">
            <div class="header">
                <img src="/assets/images/header-icon.png" alt="">
                <h1>SRP STANDARD</h1>
            </div>
        </div>
        <div class="col-md-8 col-md-offset-2" style="text-align: justify">
            <br>
            <p>The Sustainable Rice Platform (SRP) Standard for Sustainable Rice Cultivation is the world’s first voluntary sustainability standard for rice.</p>
            <ul class="srp-list">
                <li><i class="fa fa-square"></i><em class="green">Lessons learned:</em> Drawing on lessons experience with other agri-food sustainability initiatives, the SRP Standard for Sustainable Rice Cultivation was developed over a 2-year period with broad stakeholder participation</li>
                <li><i class="fa fa-square"></i><em class="green">A tool for improvement:</em> an inclusive tool for practitioners in public and private sectors to drive wide-scale adoption of climate-smart sustainable best practice among rice smallholders</li>
                <li><i class="fa fa-square"></i><em class="green">A compact standard:</em> 46 requirements structured under 8 themes, each aimed at achieving a specific sustainability impact</li>
                <li><i class="fa fa-square"></i><em class="green">Keeping it real:</em> designed for farm-level impact at smallholder level, each requirement is relevant, practical, and under the farmer’s control.  </li>
            </ul>
            <p class="pull-right">
                <a href="/assets/docs/SRP Standard for Sustainable Rice Cultivation v 1.0.pdf" target="_blank" class="green">SRP Standard for Sustainable Rice Cultivation v 1.0 <i class="fa fa-download fa-lg" style="margin-left: 10px"></i></a>
            </p>
        </div>
    </div>
</section>
<section id="performance-indicators" class="next-steps srp-performance-indicators no-padding top">
    <div class="container">
        <div class="section no-padding bottom">
            <div class="heading-container margin bottom">
                <div class="header">
                    <img src="/assets/images/header-icon.png" alt="">
                    <h1>THE SRP PERFORMANCE INDICATORS</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-md-8 col-md-offset-2" style="text-align: justify">
                    <ul class="srp-list">
                        <li><i class="fa fa-square"></i>The Standard is complemented by a set of 12 quantitative Performance Indicators. By identifying ‘hotspots’, the Indicators enable users to monitor impacts of adoption of climate-smart best practices- as well as other field interventions such as training.</li>
                        <li><i class="fa fa-square"></i>These tools are being used to develop an evidence base to measure the effectiveness of recommended practices, and also as a basis to develop sector-wide benchmarks.</li>
                        <li><i class="fa fa-square"></i>Together, the SRP Standard and Indicators offer an objective ‘working definition’ of sustainability thatcan serve as a normative basis for M&E and policy-making as well as a benchmark for supply chain assurance schemes.</li>
                    </ul>
                    <p class="pull-right">
                        <a href="/assets/docs/SRP Performance Indicators v 1 0 Apr 2015.pdf" target="_blank" class="green">SRP Performance Indicators for Sustainable Rice Cultivation v. 10 <i class="fa fa-download fa-lg" style="margin-left: 10px"></i></a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="local-action" id="local-action">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <div class="heading-container">
                    <div class="header" style="text-align: left;">
                        <img src="/assets/images/header-icon.png" alt="">
                        <h1 class="white">LOCAL ACTION</h1>
                    </div>
                </div>
                {% include local-action-slideshow.html %}
            </div>
        </div>
    </div>
</section>-->
