<div class="row">
    <div class="col-md-8 col-md-offset-2">
        <nav class="navbar navbar-clear">
            <div class="container-fluid">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#"><img src="/assets/images/srp-logo.jpg" alt="" /></a>
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Home <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                               <!-- <li><a href="/Members">Welcome</a></li> -->
                                <li><a href="/Members/#upcoming-activities">Upcoming Activities</a></li>
                                <li><a href="/Members/#featured-members">Partnership Opportunities</a></li>
                                <!--<li><a href="/Members/#funding-opportunities">Funding Opportunities</a></li>-->
                                <li><a href="/Members/#srp-members">SRP Members</a></li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Resources <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="/Members/Resources/#presentations">About Us</a></li>
                                <li><a href="/Members/Resources/#general-resources">General Resources</a></li>
                                <li><a href="/Members/Resources">SRP Standard</a></li>
                                <li><a href="/Members/Resources/#performance-indicators">SRP Performance Indicators</a></li>
                                <li><a href="/Members/Resources/#local-action">Local Action</a></li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Reports <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="/Members/Reports">Annual Plenary Meeting and General Assembly</a></li>
                                <li><a href="/Members/Reports/#advisory-committee-reports">Advisory Committee Reports</a></li>
                                <li><a href="/Members/Reports/#working-groups">Working Groups</a></li>
                            </ul>
                        </li>
                        <li><a id="logout" href="/">Logout</a></li>
                    </ul>
                </div><!-- /.navbar-collapse -->
            </div><!-- /.container-fluid -->
        </nav>
    </div>
</div>
