<div class="slideshow local-action-ss margin top">
    <div class="local-action-item">
        <h1 class="white">Cambodia</h1>
        <p class="white">The International Finance Corporation (IFC), Mars Food and Battambang Rice Investment Co. Ltd. launched a partnership in 2018 to promore sustainable development of Cambodia's rice industry. Improving rice production and enhancing linkages with the global rice value chain will help Cambodia's agri sector expand market access, increase export value, and improve farmers' livelihoods.</p>
     </div>
    <div class="local-action-item">
        <h1 class="white">Cambodia</h1>
        <p class="white">In 2016, Wildlife Conservation Society (WCS) Cambodia launch an SRP trial in collaboration with Sansom Mlup Prey (SMP), BRICO, Mars Food and Critical Ecosystem Partnership Fund. Farmers in Prolat commune have benefitted from a shortened and integrated supply chain, linking producers with internaional buyers. After 3 years, the 350 participating households produced 1,400 MT of jasmine paddy in accordance with the SRP Standard.</p>
    </div>
    <div class="local-action-item">
        <h1 class="white">Pakistan and India</h1>
        <p class="white">SRP partners with Helvetas, Mars Food, Rice Partners Ltd. and WWF-Pakistan in implementing a CHF 6.6 million project on water productivity in rice and cotton, funded by the Swiss Agency for Development and Cooperation. The WAPRO Project links smallholder farmers to export markets. During its first phase of implementation, initial impacts include significant reduction in water use and agrochemicals, as well as higher incomes for rice farmers.</p>
    </div>
    <div class="local-action-item">
        <h1 class="white">Thailand</h1>
        <p class="white">In July 2018, GIZ, Olam and SRP launched the Thai Rice NAMA Project with 11 Thai government agencies. The project aims to support 100,000 rice farming households to shift from conventional to low-emission rice farming methods.</p>
    </div>
    <div class="local-action-item">
        <h1 class="white">Thailand</h1>
        <p class="white">Also in 2018, Mars Food, Ebro Foods and GIZ together with the Rice Department of Thailand launched the Sustainable Aromatic Rice Initiative-Thailand (SARI-T) with an aim of building the capacity of 1,200 Thai rice growers in Roi Et province in adopting sustainable practices while enhancing their livelihoods.</p>
    </div>
    <div class="local-action-item">
        <h1 class="white">Vietnam</h1>
        <p class="white">The Loc Troi Group, a leading Vietnamese rice exporter, identified three provinces in Mekong Delta to implement the SRP Standard. Preliminary findings include higher profits and productivity, as well as improved nutrient-use efficiency among participating farmers.</p>
    </div>
        <div class="local-action-item">
        <h1 class="white">USA</h1>
        <p class="white">Mars Food and Winrock International launched a partnership to equip and monitor the performance of 60 rice farmers in the United States according to the SRP tools.</p>
    </div>
    <div class="local-action-item">
        <h1 class="white">Myanmar</h1>
        <p class="white">The Climate-Smart Rice Project in Myanmar aims to build farmers' capacity in implementing sustainable practices based on SRP Standard, GLOBALG.A.P. and FSSC 22000 to drive sustainable value chains in domestic and global markets. The project is supported by NORAD and SDC, and is implemented by UNEP, Helvetas and Prime Agri.</p>
    </div>
     </div>
    <div class="local-action-item">
        <h1 class="white">Regional</h1>
        <p class="white">Rikolto, a Belgian non-profit organization, is leading projects in Benin, Burkina Faso , Mali, Senegal, DR Congo and Uganda, with an aim of contributing to the global rice sector transformation agenda.</p>
    </div>
<div class="local-action-item">
        <h1 class="white">Global</h1>
        <p class="white">The Sustainable Rice Landscapes Consortium was established as a unique consortium led by UNEP, FAO, SRP, WBCSD, GIZ, IRRI and private partners to promote the adoption of proven landscape-level solutions for rice sustainability. The initiative will contribute to meeting national GHG reduction targets under the Paris Agreement, as well as restoring degraded landscapes and conserving biodiversity.</p>
    </div>
</div>
