<div class="slideshow local-action-ss margin top">
    <div class="local-action-item">
        <h1 class="white">Cambodia</h1>
        <p class="white">The Wildlife Conservation Society (WCS) has trained 150 farmers in Kampong Thom Province to produce rice according to the SRP Standard, with the support of the Battambang Rice Investment, Co. and Mars Food. A National SRP Working Group coordinates multi-stakeholder activities, coordinated by the Ministry of Agriculture, Forestry and Fisheries, Cambodia Rice Federation, private sector actors and NGOs. </p>
    </div>
    <div class="local-action-item">
        <h1 class="white">India</h1>
        <p class="white">Following Mars Food’s commitment to 100% sustainable rice sourcing, some rice farmers in Haryana state were invited to participate in the pilot testing of the SRP Standard. Mars in collaboration with UTZ, promoted the implementation of a farm management system, as well as an Internal Management system to strengthen the capacity of participating farmers and millers to adopt sustainable best practices.</p>
    </div>
    <div class="local-action-item">
        <h1 class="white">Pakistan</h1>
        <p class="white">As part of Mars Food’s commitment to source 100% of its rice sustainably, Mars partnered with UTZ to implement a pilot test of the SRP Standard with rice farmers in Punjab province. Main activities included: 1) Assessment of the SRP Standard; 2) Building capacity of farmers to adopt sustainable practices; and 3) Implementation of a farm management system.</p>
    </div>
    <div class="local-action-item">
        <h1 class="white">Thailand</h1>
        <p class="white">GIZ-BRIA has joined with Thailand’s Rice Department (RD) and Olam International to pilot the SRP Standard among farmer groups. Following a baseline survey of a group of 32 rice farmers in Det Udom District of Ubol Ratchathani Province, northeastern Thailand, a 10-module training course was provided to enhance farmers’ skills and promote adoption of the SRP Standard.</p>
    </div>
    <div class="local-action-item">
        <h1 class="white">Vietnam</h1>
        <p class="white">The Loc Troi Group, a leading Vietnamese rice exporter, recently harvested its first crop of “SRP Rice”, grown by 150 farmers in the southern provinces of An Giang, Dong Thap and Kien Giang. Preliminary findings indicate lower seed rates, chemical use, and water pumping costs. Net incomes were improved by 18% compared with non-participating farmers. The programme will be expanded to 4,000 farmers in 2017.</p>
    </div>
</div>
