<div class="slideshow local-action-ss margin top">
    <div class="local-action-item">
        <h1 class="white">Cambodia</h1>
        <p class="white">The Wildlife Conservation Society (WCS) has trained 150 farmers in Kampong Thom Province to produce rice according to the SRP Standard, with the support of the Battambang Rice Investment, Co. and Mars Food. A National SRP Working Group coordinates multi-stakeholder activities, coordinated by the Ministry of Agriculture, Forestry and Fisheries, Cambodia Rice Federation, private sector actors and NGOs. </p>
    </div>
    <div class="local-action-item">
        <h1 class="white">Pakistan</h1>
        <p class="white">In Pakistan SRP’s partners Helvetas, Mars Food and Better Grain Co. Ltd. are implementing the WAPRO Water Productivity Project with 500 Basmati rice farmers, focusing on supply chain development and policy interventions.</p>
    </div>
    <div class="local-action-item">
        <h1 class="white">Thailand</h1>
        <p class="white">GIZ-BRIA has joined with Thailand’s Rice Department (RD) and Olam International to pilot the SRP Standard among farmer groups. Following a baseline survey of a group of 32 rice farmers in Det Udom District of Ubol Ratchathani Province, northeastern Thailand, a 10-module training course was provided to enhance farmers’ skills and promote adoption of the SRP Standard.</p>
    </div>
    <div class="local-action-item">
        <h1 class="white">Vietnam</h1>
        <p class="white">The Loc Troi Group, a leading Vietnamese rice exporter, recently harvested its first crop of “SRP Rice”, grown by 150 farmers in the southern provinces of An Giang, Dong Thap and Kien Giang. Preliminary findings indicate lower seed rates, chemical use, and water pumping costs. Net incomes were improved by 18% compared with non-participating farmers. The programme will be expanded to 4,000 farmers in 2017.</p>
    </div>
</div>
