<div class="slideshow">
   <div>
        <img src="https://ibcasia.s3-ap-southeast-1.amazonaws.com/s3fs-public/assets/SRP-banner-2000x600bb.jpg" alt="">
        <div class="">
            <p></p>
        </div>
    </div>
    <div>
        <img src="/assets/images/slider-bg-2.jpg" alt="">
        <div class="text-wrapper">
            <p>Rice farmers are among the world's most vulnerable to climate change impacts such as rising sea levels, salinity, temperature rise, drought and flooding.</p>
        </div>
    </div>
    <div>
        <img src="/assets/images/slider-bg-3.jpg" alt="">
        <div class="text-wrapper">
            <p>Rice is the daily staple for more than 3.5 billion people, accounting for 19% of dietary energy globally.-IRRI</p>
        </div>
    </div>
</div>
