<div class="slideshow">
    <div>
        <img src="/assets/images/slider-bg-1.jpg" alt="">
        <div class="text-wrapper">
            <p>Rice is the daily staple for more than 3.5 billion people, accounting for 19% of dietary energy globally.</p>
        </div>
    </div>
    <div>
        <img src="/assets/images/slider-bg-2.jpg" alt="">
        <div class="text-wrapper">
            <p>Rice farmers are among the world's most vulnerable to climate change impacts such as rising sea levels, salinity, temperature rise, drought and flooding.</p>
        </div>
    </div>
    <div>
        <img src="/assets/images/slider-bg-3.jpg" alt="">
        <div class="text-wrapper">
            <p>Rice production needs to increase by 25% in the next 25 years to meet global demand. -IRRI</p>
        </div>
    </div>
</div>
<img src="/assets/images/SRP-banner-728x180cc website banner 19 July.jpg" alt="">
        <div class="text-wrapper">
        </div>
    </div>
</div>
