<nav class="navbar navbar-clear">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#"><img src="/assets/images/srp-logo.jpg" alt="" /></a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li><a href="/">Home</a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">About Us <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="/About-Us">Overview</a></li>
                        <li><a href="/About-Us">Mission-Vision</a></li>
                        <li><a href="/About-Us/#governance">Governance</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Resources <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="/Resources">Rice Facts</a></li>
                        <li><a href="/Resources/#srp-standard">SRP Standard</a></li>
                        <li><a href="/Resources/#performance-indicators">Performance Indicators</a></li>
                        <li><a href="/Resources/#local-action">Local Action</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Get Involved <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="/Get-Involved">Membership Application</a></li>
                        <li><a href="/Get-Involved/#commitments-benefits">Commitments &amp; Benefits</a></li>
                        <li><a href="/Get-Involved/#members-list">Members</a></li>
                    </ul>
                </li>
                <li><a href="/News-and-Events">News and Events</a></li>
                <li><a href="/Contact-Us">Contact Us</a></li>
                <li><a href="/Members/Login">Members</a></li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>
