// main: main.less

.mission-goal {
    background-image: url('/assets/images/mission-goal-bg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom center;
    position: relative;

    &:before {
        content: '';
        background-color: black;
        width: 100%;
        position: absolute;
        height: 100%;
        overflow: hidden;
        opacity: 0.7;
        top: 0;
        left: 0;
    }

    >.container {
        position: relative;
    }

    .mission-goal-wrap {
        display: table;
        width: 100%;

        @media screen and (min-width: @screen-sm-min) {
            padding: 75px 0;
        }

        .mission-goal-content {
            display: table-cell;
            text-align: center;
            width: 50%;
            padding: @padding-base 50px;

            @media screen and (max-width: @screen-xs-max) {
                width: 100%;
                display: block;
            }

            @media screen and (min-width: @screen-sm-min) {
                &:first-of-type {
                    border-right: 3px solid @white;
                }
            }

            p {
                margin-bottom: 0;
            }
        }
    }
}
