// main: main.less

.log-in-screen {
    background-image: url('/assets/images/login-bg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom center;
    min-height: 100vh;
    display: table;
    width: 100%;

    >.container {
        display: table-cell;
        vertical-align: middle;
    }

    .heading-container {
        margin-bottom: @margin-base;
    }

    .logo-wrap {
        margin-bottom: @margin-base;
        text-align: center;

        img {
            max-width: 140px;
        }
    }

    .well {
        background-color: fadeout(#000, 50%);
        border: 2px solid fadeout(lighten(@red, 5%), 70%);
        border-radius: 10px;
        background-image: none;
        text-align: center;

        p {
            margin: 5px 0;

            &.red {
                color: lighten(@red, 5%) !important;
            }
        }
    }
}

#login-failed,
#wrong-username-password {
    display: none;
}
