// main: main.less

.contact-us {
    // background-image: url('/assets/images/contact-us-bg.jpg');
    //background-color: @light-green;
    background-image: url('/assets/images/honeycomb-resources-2.png');
    background-size: 18%;
    background-position: bottom left;
    background-repeat: no-repeat;

    address {
        //color: @white;
        font-size: 17px;
        margin-top: @margin-base;
    }
}
